[submodule "libs/font-awesome"]
	path = libs/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "libs/jekyll-pygments-themes"]
	path = libs/jekyll-pygments-themes
	url = https://github.com/jwarby/jekyll-pygments-themes.git
