[submodule "libs/font-awesome"]
	path = libs/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "libs/normalize-scss"]
	path = libs/normalize-scss
	url = https://github.com/JohnAlbin/normalize-scss.git
