$primary-color: #fadea3;
$warm-shade-color: rgba(100, 0, 0, 0.1);
$text-color: #333;
$text-color-dimmed: #aaa;
$link-color: rgb(50, 150, 150);
$link-color-hover: lighten($link-color, 15%);

$dimension-large-threshold: 50rem;
$decoration-spacing: 0.25em;

$fa-font-path: "/assets/fonts/font-awesome";
$icons-font-path: "/assets/fonts/icons";
