<footer>
  {% capture license %}{{ page.license | default: 'default' }}{% endcapture %}
  {% assign license_info = site.data.licenses[license] %}
  <p class="license-note fab {{ license_info.class }}">
    <a rel="license"
       title="このページのライセンス"
       href="{{ license_info.href }}">
      {{ license_info.description }}
    </a>
  </p>
  <ul class="links">
    <li class="revisions">
      <a href="{{ site.github.repository_url }}/commits/{{ site.github.source.branch | default: 'master' }}/{{ page.path }}"
         title="このページの編集履歴">
        編集履歴
      </a>
    </li>
  </ul>
</footer>

