ul.directory-tree
{
  margin: 2em 1em;
  font-family: monospace;

  &, & ul
  {
    list-style: none;
  }
  & ul
  {
    margin: 0 0 0 1em;
    padding-left: 1em;
  }
  &::before
  {
    margin-right: 1em;
    width: 1em;
  }
  .directory::before
  {
    @include fontawesome-regular($fa-var-folder);
    color: rgb(200, 180, 0);
  }
  .file::before
  {
    @include fontawesome-regular($fa-var-file);
    color: #555;
  }
}

ul.social-network-links
{
  padding: 0;

  li
  {
    display: inline-block;
    margin: 0;

    &::before
    {
      margin-right: 0.5em;
    }
    &:not(:last-child)::after
    {
      content: "|";
      color: $text-color-hazy;
      margin: 0 1em;
    }
    &.twitter::before
    {
      @include fontawesome-brands($fa-var-twitter);
      @include apply-brand-color($fa-var-twitter);
    }
    &.pixiv::before
    {
      @include with-icon($with-icon-key-pixiv);
    }
    &.github::before
    {
      @include fontawesome-brands($fa-var-github);
      @include apply-brand-color($fa-var-github);
    }
  }
}

.page-navigation ul
{
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0 0;

  .previous
  {
    margin-left: auto;
    &::before { display: none; }
    &::after {
      @include fontawesome-solid($fa-var-arrow-right);
      color: $text-color;
      margin-left: 0.5em;
    }
  }
  .next::before
  {
    @include fontawesome-solid($fa-var-arrow-left);
    color: $text-color;
    margin-right: 0.5em;
  }
}

.chronological.posts ul
{
  line-height: 1.5;

  time::after
  {
    content: ":";
    color: $text-color-dimmed;
    margin-right: 1em;
  }
}

